header nav {
  background-color: #00ADEE;
}

header nav a {
  margin-right: 1.5rem;
  color: white;
}

header nav a:visited {
  color: white;
}

.icon {
  display: flex;
  align-items: center;
  padding: .25rem;
  border: 1px solid white;
  background-color: white;
  border-radius: 4px;
}

.icon svg {
  width: 25px;
  height: 25px;
  fill: #00ADEE;
}